﻿@model ASN.Models.MainClass

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ASN</title>
</head>
<body>
    <h2>Witaj w ASN! - automatycznym systemie nadawania</h2>
    <div> 
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <p>
                
                Dokąd chcesz nadać paczkę?
                @Html.DropDownListFor( x => x.Pg1.Country, new [] {
               new SelectListItem() {Text="Polska"},
               new SelectListItem() {Text="Unia Europejska" },
               new SelectListItem() {Text="Pozostałe Kraje" }

                }, "Wybierz kraj przesyłki")
            
          </p>
        <span>Podaj adres odbirocy:</span>
        <p>Ulica: @Html.TextBoxFor(x => x.Ad1.Street)</p>
        <p>Miasto: @Html.TextBoxFor(x => x.Ad1.City)</p>
        <p>Kod pocztowy: @Html.TextBoxFor(x => x.Ad1.PostCode)</p>
        <span>Podaj wymiary paczki:</span>
        <p>Długość: @Html.TextBoxFor(x => x.Pg1.Length) </p>
        <p>Wysokość: @Html.TextBoxFor(x => x.Pg1.Height)</p>
        <p>Szerokość: @Html.TextBoxFor(x => x.Pg1.Width)</p>
       

            <input type="submit" value="Sprawdź cenę"/>
        }
    </div>
</body>
</html>
