﻿@model ASN.Models.Package

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Repeat</title>
</head>
<body>
    <div> 
        <p>Twoja paczka waży za dużo: @Model.Weight kg!</p>

        @Html.ActionLink("Powtórz", "Index")


    </div>
</body>
</html>
