﻿@model ASN.Models.MainClass

@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Summary</title>
</head>
<body>
    <div> 
        <p>Adres odbiorcy:<br />@Session["Street"]<br />@Session["PostCode"] @Session["City"]</p>
        <p>Waga Twojej paczki to: @Session["Weight"] kg </p>
        <p>@Session["Price"] PLN</p>

        <p>Jeśli chcesz zmienić dane naciśnij @Html.ActionLink("TUTAJ", "Index")</p>

        <p>
            Jeśli potwierdzasz dane
            <input type="submit" value="Przygotuj list przewozowy" />
        </p>
        <p></p>
        <p></p> 
    </div>
</body>
</html>
